.custom-navbar {
  background-color: goldenrod;
  z-index: 1000;
}

.navbar .btn {
  padding: 0.375rem 0.75rem;
  font-weight: 500;
}

.nav-link {
  color: white !important;
}

.nav-link.active {
  color: beige !important;
  font-weight: bold;
  border-bottom: 2px solid white;
}

.btn {
  margin-top:7px;
  margin-left: 10px;
  background-color: beige;
  color: goldenrod;
  border: none;
}

.btn:hover {
  background-color: rgb(233, 205, 133);
  color: beige;
}

.dropdown-menu {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-item.active {
  background-color: goldenrod;
  color: beige;
}

.profile-icon {
  font-size: 2rem; 
}

