.custom-navbar {
  background: linear-gradient(135deg, #007bff, #00b7eb);
}

.navbar-brand, .nav-link {
  color: white !important;
  transition: color 0.2s ease;
}

.nav-link:hover, .nav-link.active {
  color: rgb(24, 24, 24) !important;
  transform: scale(1.10);
}

.dropdown-menu {
  background: linear-gradient(135deg, #ffffff, #f8f9fa);
  border: 1px solid rgba(0, 123, 255, 0.3);
}

.dropdown-item {
  color: #343a40;
}

.dropdown-item.active{
  background-color: #00b7eb;
}

.dropdown-item:hover {
  background: linear-gradient(135deg, #e9ecef, #dee2e6);
  color: #007bff;
}
