h5 {
  color: #ffffff; 
}



.card, .sidebar {
  background: aliceblue;
  border: 1px solid rgba(0, 123, 255, 0.3); 
  border: 1px solid #007bff;
}

.card-body h6 {
  color: #343a40; 
}

.text-color{
  color:#ff9800;
}

.border-color{
  border: 1px solid #007bff;
}