.bg-color{
  background: linear-gradient(135deg, #007bff, #00b7eb);
}

.pulse-border {
  animation: pulse 1.5s infinite;
  border: 5px solid #007bff !important;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0.5); }
  70% { box-shadow: 0 0 0 10px rgba(40, 167, 69, 0); }
  100% { box-shadow: 0 0 0 0 rgba(40, 167, 69, 0); }
}
