<div class="container my-4 mt-5">
 
  <div class="d-flex justify-content-center mb-4">
    <div style="max-width: 850px; width: 100%;">
      <app-item *ngIf="item" [item]="item" [viewBidButton]="false" />
    </div>
  </div>

  <div class="mb-3 d-flex gap-3 flex-wrap end mt-5">
    <button class="btn btn-outline-primary" (click)="exportCSV()">Export CSV</button>
  </div>

  <div class="d-flex flex-wrap justify-content-between align-items-start w-100 px-2 gap-4">

    <div class="flex-grow-1" style="max-width: 1200px; max-width: 100%;">
      <div *ngIf="filteredBids.length !== 0" class="p-3 border rounded bg-white shadow-sm">
        <canvas baseChart
                [data]="chartData"
                [options]="chartOptions"
                chartType="line"
                style="width: 100%; height: 400px;">
        </canvas>
      </div>
    </div>

    <div class="flex-grow-1" style="min-width: 420px; max-width: 100%;">
      <h2 class="text-center mt-5 mb-4">Bids on this Item</h2>

      <div *ngIf="filteredBids.length === 0" class="alert alert-warning text-center">
        No bids found.
      </div>

      <div *ngIf="displayedBids.length > 0"
           infiniteScroll
           [infiniteScrollDistance]="2"
           [infiniteScrollThrottle]="100"
           (scrolled)="onScrollDown()"
           class="d-flex flex-column gap-3 overflow-auto"
           style="max-height: 450px; padding-right: 10px;">

        <div class="card shadow-sm px-3 py-2"
            *ngFor="let bid of displayedBids"
            [ngClass]="{ 'border-success pulse-border': bid.amount === highestAmount }">
          <div class="card-body py-2">
            <div class="row text-center text-md-start align-items-center">
              <div class="col-md-4 col-12 mb-2 mb-md-0">
                <i class="bi bi-person-circle me-1 text-secondary"></i>
                <strong>Bidder:</strong> {{ bid.name }}
              </div>
              <div class="col-md-4 text-center col-12 mb-2 mb-md-0">
                <strong>Amount:</strong> ${{ bid.amount }}
                <span *ngIf="bid.amount === highestAmount" class="badge bg-color fs-6 text-white ms-2">
                  @if(item.status == 'Sold')
                    {Sold} 
                  @else 
                    {Highest}
                </span>
              </div>
              <div class="col-md-4 col-12 text-end">
                <i class="bi bi-calendar-event me-1 text-secondary"></i>
                <strong>Date:</strong> {{ bid.bid_timestamp | date: 'dd MMM yyyy, h:mm a' }}
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="loadingMore" class="my-3 text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading more...</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
