<div class="container my-4 d-flex flex-column align-items-center">
  <br>

  <div class="w-100 d-flex justify-content-center mb-4">
    <div style="max-width: 850px; width: 100%;">
      <app-item *ngIf="item" [item]="item" [viewBidButton]="false" />
    </div>
  </div>

  <div class="mb-3 d-flex gap-3 flex-wrap justify-content-center">
    <select class="form-select w-auto" [(ngModel)]="sortOption" (change)="sortBids()">
      <option value="" disabled>Sort by</option>
      <option value="highest">Highest Amount</option>
      <option value="lowest">Lowest Amount</option>
    </select>

    <input type="text" class="form-control w-auto" placeholder="Search Bidder" [(ngModel)]="bidderFilter" (ngModelChange)="onFilterChange()" />

    <button class="btn btn-outline-primary" (click)="exportCSV()">Export CSV</button>
  </div>

  <br />
  <div *ngIf="filteredBids.length !== 0" class="align-items-center w-100" style="max-width: 700px;">
    <canvas baseChart
      [data]="chartData"
      [options]="chartOptions"
      chartType="line"
      height="600px"
      width="1500px">
    </canvas>
  </div>

  <br/>
  <br/>

  <h3 class="mb-3 text-center">Bids on this Item</h3>

  <div *ngIf="filteredBids.length === 0" class="alert alert-warning text-center">
    No bids found.
  </div>

  <div *ngIf="displayedBids.length > 0"
      infiniteScroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="100"
      (scrolled)="onScrollDown()"
      class="d-flex flex-column align-items-center gap-3 w-100">

    <div class="card shadow-sm w-100 px-3 py-2"
        style="max-width: 850px;"
        *ngFor="let bid of displayedBids"
        [ngClass]="{ 'border-success pulse-border': bid.amount === highestAmount }">
      <div class="card-body py-2">
        <div class="row text-center text-md-start align-items-center">
          <div class="col-md-4 col-12 mb-2 mb-md-0">
            <i class="bi bi-person-circle me-1 text-secondary"></i>
            <strong>Bidder:</strong> {{ bid.name }}
          </div>
          <div class="col-md-4 text-center col-12 mb-2 mb-md-0">
            <strong>Amount:</strong> ${{ bid.amount }}
            <span *ngIf="bid.amount === highestAmount" class="badge bg-color fs-6 text-white ms-2">
              @if(item.status == 'Sold'){
                Sold
              }
              @else {
                Highest
              }
            </span>
          </div>
          <div class="col-md-4 col-12 text-end">
            <i class="bi bi-calendar-event me-1 text-secondary"></i>
            <strong>Date:</strong> {{ bid.bid_timestamp | date: 'dd MMM yyyy, h:mm a' }}
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="loadingMore" class="my-3">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading more...</span>
      </div>
    </div>

  </div>


</div>
