.text-color{
    color:goldenrod;
}

.btn-primary{
    color:beige;
    background-color: goldenrod;
    border-color: goldenrod;
}

.alert{
    background-color: beige;
    border-color: goldenrod;
    color: goldenrod;
}

