<div *ngIf="errorMessage" class="alert alert-warning text-center shadow-sm rounded-4" style="max-width: 800px; margin: 1rem auto;">
  {{ errorMessage }}
</div>

<div class="container my-4 d-flex flex-column align-items-center">
  <div class="row justify-content-center mt-4 gap-4 mb-4" style="max-width: 500px;">
    @if (items.length > 0) {
      @for (item of items; track item.itemID) {
        <app-item [item]="item"></app-item>
      }
    } @else {
      <div class="alert alert-info text-center shadow-sm rounded-4 w-100" style="max-width: 800px;">
        <h5 class="mb-0">No items bought.</h5>
      </div>
    }
  </div>
</div>