
body {
  background-color:aliceblue;
}

.card {
  border-radius: 1rem;
}

p{
  text-align: center;
}

.alert-danger {
  text-align: center;
  color: goldenrod;
  background-color: beige;
  border: 1px solid goldenrod;
}