.bid-log {
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.bid-entry {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 0.6rem 1rem;
  border-left: 4px solid goldenrod;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bid-entry .time {
  font-size: 0.8rem;
  color: #666;
}

.no-bids {
  font-style: italic;
  color: #777;
  text-align: center;
}

.btn {
  background-color: goldenrod;
  color: beige;
  border-color: goldenrod;
}

.btn:hover {
  background-color: darkgoldenrod;
  color: beige;
}


.highlight-bid {
  background-color: goldenrod;
  color: beige;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 10px rgba(218, 165, 32, 0.6);
}

.large-badge {
  font-size: 1rem;         
  padding: 0.5em 0.8em;
  border-radius: 0.75rem; 
}

.bg-color{
  color:beige
}

.time-remaining{
  font-size: 1rem;
  font-weight: bold;
  color: darkred;
  margin: 0.5rem 0;
}

