<div *ngIf="errorMessage" class="alert alert-danger text-center small">
  {{ errorMessage }}
</div>

<div class="container my-5" style="max-width: 600px;">
  <div class="card shadow-lg p-4">
    <div *ngIf="errorMessage" class="alert alert-danger text-center small">
      {{ errorMessage }}
    </div>
    <h3 class="mb-4 text-center">Post Item</h3>

    <form [formGroup]="postForm" (ngSubmit)="onSubmit()" novalidate>

      <div class="mb-4">
        <label class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title" />
        <div *ngIf="postForm.controls['title'].touched">
          <div *ngIf="postForm.controls['title'].errors?.['required']" class="text-danger small">
            Title is required.
          </div>
          <div *ngIf="postForm.controls['title'].errors?.['minlength']" class="text-danger small">
            Title must be at least 3 characters.
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label">Starting Price $ <br /><span class="text-muted">(Can not change)</span></label>
        <input type="number" class="form-control" formControlName="startingPrice" />
        <div *ngIf="postForm.controls['startingPrice'].touched">
          <div *ngIf="postForm.controls['startingPrice'].errors?.['required']" class="text-danger small">
            Starting price is required.
          </div>
          <div *ngIf="postForm.controls['startingPrice'].errors?.['min']" class="text-danger small">
            Price cannot be negative.
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label">End Date</label>
        <input type="datetime-local" class="form-control" formControlName="endDate" />
        <div *ngIf="postForm.controls['endDate'].touched">
          <div *ngIf="postForm.controls['endDate'].errors?.['required']" class="text-danger small">
            End date is required.
          </div>
          <div *ngIf="postForm.controls['endDate'].errors?.['pastDate']" class="text-danger small">
            End date and time must be in the future.
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label">Category</label>
        <select class="form-select" formControlName="category">
          <option value="" disabled selected>Select a category</option>
          @for (category of categories; track category) {
            <option [value]="category">{{ category }}</option>
          }
        </select>
        <div *ngIf="postForm.controls['category'].touched && postForm.controls['category'].errors?.['required']" class="text-danger small">
          Category is required.
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label">Description <span class="text-muted">(Max 1000 characters)</span></label>
        <textarea class="form-control" rows="3" formControlName="description"></textarea>
        <div *ngIf="postForm.controls['description'].touched">
          <div *ngIf="postForm.controls['description'].errors?.['required']" class="text-danger small">
            Description is required.
          </div>
          <div *ngIf="postForm.controls['description'].errors?.['minlength']" class="text-danger small">
            Description must be at least 10 characters.
          </div>
          <div *ngIf="postForm.controls['description'].errors?.['maxlength']" class="text-danger small">
            Description cannot exceed 1000 characters.
          </div>
        </div>
      </div>

      <div class="mb-4">
        <label class="form-label">Image <br/><span class="text-muted">(.jpg, .jpeg, .png, .webp)</span></label>
        
        <input type="file" accept=".jpg,.jpeg,.png,.webp" class="form-control" (change)="onImageSelected($event)" />
      </div>

      <button type="submit" class="btn btn-primary w-100" [disabled]="postForm.invalid">
        Post Item
      </button>

    </form>
  </div>
</div>
