body {
  background-color: #f0f2f5;
}

.card {
  margin-top: 40px;
  border-radius: 1rem;
}

.alert-danger{
  text-align: center;
  color:white;
  background: linear-gradient(135deg, #007bff, #00b7eb);
}

.btn{
  background-color: goldenrod;
  color: beige;
}

.password-wrapper {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 0.875rem;
  color: #0d6efd;
  cursor: pointer;
  user-select: none;
}