<footer class="footer mt-auto bg-dark text-light pt-4 pb-2 w-100">
  <div class="container-fluid">
    <div class="row text-center text-md-start justify-content-evenly">

      <div class="col-12 col-md-3 mb-4">
        <h5><i class="bi bi-envelope-paper-fill me-2 ms-3"></i>Contact Us</h5>
        <p class="mb-1"><i class="bi bi-envelope-fill me-2 ms-3"></i>support&#64;gmail.com</p>
        <p class="mb-1"><i class="bi bi-telephone-fill me-2 ms-3"></i>+91 99999 99999</p>
        <p class="mb-0"><i class="bi bi-geo-alt-fill me-2 ms-3"></i>Chennai, India</p>
      </div>

      <div class="col-12 col-md-3 mb-4">
        <h5><i class="bi bi-link-45deg me-2"></i>Quick Links</h5>
        <ul class="list-unstyled">
            <li class="mb-2">
            <a class="text-light text-decoration-none">
                <i class="bi bi-info-circle me-1"></i> About Us
            </a>
            </li>
            <li class="mb-2">
            <a class="text-light text-decoration-none">
                <i class="bi bi-file-earmark-text me-1"></i> Terms & Conditions
            </a>
            </li>
            <li class="mb-2">
            <a class="text-light text-decoration-none">
                <i class="bi bi-shield-lock me-1"></i> Privacy Policy
            </a>
            </li>
            <li class="mb-2">
            <a class="text-light text-decoration-none">
                <i class="bi bi-question-circle me-1"></i> FAQ
            </a>
            </li>
        </ul>
      </div>


      <div class="col-12 col-md-3 mb-4">
        <h5><i class="bi bi-bullseye me-2"></i>Our Mission</h5>
        <p class="small mb-2">
          <i class="bi bi-quote text-warning"></i>
          Empower fair and transparent auctions for everyone.
        </p>
        <p class="small mb-0">
          <i class="bi bi-stars me-1 text-success"></i>
          Building trust, one bid at a time.
        </p>
      </div>
      
      <div class="col-12 col-md-3 mb-4 text-center">
        <h5><i class="bi bi-share-fill me-2"></i>Follow Us</h5>
        <a href="#" class="text-light me-3 fs-5"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-light me-3 fs-5"><i class="bi bi-twitter-x"></i></a>
        <a href="#" class="text-light me-3 fs-5"><i class="bi bi-linkedin"></i></a>
        <a href="#" class="text-light fs-5"><i class="bi bi-instagram"></i></a>
      </div>
      

    </div>

    <hr class="border-light" />

    <div class="text-center small">
      © {{ currentYear }} <strong>AuctionAPI™</strong>. All rights reserved. | Registered Trademark No. IN2025AUCTION123
    </div>
  </div>
</footer>
